{ :config { :name "PodSync" }
  :rssState "c:\\Users\\thomas\\Podcasts\\rss-state.edn"
  :podcasts [ 
               {:url "http://fanboys.fm/episodes.mp3.rss"
                :fromDir "c:\\Users\\thomas\\Podcasts\\Fanboys\\"
                :toDir "d:\\Fanboys\\"
               }
               {:url "http://www.bitsundso.de/feed/plus/"
                :fromDir "c:\\Users\\thomas\\Podcasts\\Bitsundso\\"
                :toDir "d:\\Bitsundso\\"
               }
               {:url "http://freakshow.fm/feed/mp3"
                :fromDir "c:\\Users\\thomas\\Podcasts\\Freakshow\\"
                :toDir "d:\\Freakshow\\"
               }
               {:url "http://logbuch-netzpolitik.de/feed/mp3"
                :fromDir "c:\\Users\\thomas\\Podcasts\\Logbuch\\"
                :toDir "d:\\Logbuch\\"
               }
               {:url "https://www.kuechenstud.io/lagedernation/feed/mp3"
                :fromDir "c:\\Users\\thomas\\Podcasts\\LageDerNation\\"
               }
               { :url "http://web.ard.de/radiotatort/rss/podcast.xml"
                 :fromDir "c:\\Users\\thomas\\Podcasts\\RadioTatort\\"
                 :toDir "d:\\RadioTatort\\"
               }
               { :url "http://www.mixotic.net/rss2.php"
                 :fromDir "c:\\Users\\thomas\\Podcasts\\Mixotic\\"
                 :toDir "d:\\Mixotic\\"
               }
               {
                 :url "https://newwork.podigee.io/feed/mp3"
                 :fromDir "c:\\Users\\thomas\\Podcasts\\NewWork\\"
               }
               {
                 :url "https://paymentandbanking.podigee.io/feed/mp3"
                 :fromDir "c:\\Users\\thomas\\Podcasts\\PaymentAndBanking\\"
                 :toDir "d:\\PaymentAndBanking\\"
               }
            ]
}