{ :config { :name "PodSync" }
  :podcasts [ 
       {:url "http://fanboys.fm/episodes.mp3.rss"
        :fromDir "c:\\Users\\thomas\\Podcasts\\Fanboys\\"
        :toDir "d:\\Fanboys\\" }
       {:url "http://www.bitsundso.de/feed"
        :fromDir "c:\\Users\\thomas\\Podcasts\\Bitsundso\\"
        :toDir "d:\\Bitsundso\\" }
       {:url "http://freakshow.fm/feed/mp3"
        :fromDir "c:\\Users\\thomas\\Podcasts\\Freakshow\\"
        :toDir "d:\\Freakshow\\" }
       {:url "http://logbuch-netzpolitik.de/feed/mp3"
        :fromDir "c:\\Users\\thomas\\Podcasts\\Logbuch\\"
       }
       {:url "https://www.kuechenstud.io/lagedernation/feed/mp3"
        :fromDir "c:\\Users\\thomas\\Podcasts\\LageDerNation\\"
       }
       { :url "http://web.ard.de/radiotatort/rss/podcast.xml"
         :fromDir "c:\\Users\\thomas\\Podcasts\\RadioTatort\\"
       }
            ]
}